

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Loops</span> </b></center>

#### Exercice 0
>On se propose de résoudre dans l'ensemble des entiers naturels l'inéquation $2n(n+1)<100$.
En utilisant une boucle **While**, écris un programme qui renvoie les solutions entières de cette inéquation.

In [5]:
n=0
while 2*n*(n+1)<100:
    print(n)
    n=n+1

0
1
2
3
4
5
6

#### Exercice 1
> En utilisant une boucle **For**, écris un programme qui calcule la somme des 30 premiers entiers naturels non nuls.

In [13]:
S=0
for i in range(0,30):
    S=S+i
print(S)

435

#### Exercice 2
>Refais l'exercice 1 en utilisant une boucle **While**.

In [20]:
i=0
S=0
while i<30:
    S=S+i
    i=i+1
print(S)

435

#### Exercice 3
>En utilisant une boucle **For**, écris un programme qui calcule le produit des 9 premiers entiers naturels non nuls.

In [15]:
P=1
for i in range(1,10):
    P=P*i
print(P)

362880

#### Exercice 4
> Refais l'exercice 3 en utilisant une boucle **While**.

In [17]:
P=1
i=1
while i<10:
    P=P*i
    i=i+1
print(P)

362880

#### Exercice 5 
>Écris un programme qui demande à l'utilisateur de saisir un nombre n et qui affiche tous les nombres pairs de $1$ à $n$ en utilisant la boucle **For**.

In [13]:
liste=[]
a=int(input('entrer un nombre'))
for i in range(1,int(a)):
    if i%2==0:
        liste.append(i)
print(liste)

entrer un nombre42
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

#### Exercice 6
>Refais l'exercice 5 en utilisant la boucle **While**.

In [11]:
L=[]
a=int(input('entrer un nombre'))
i=1
while i < a+1:
    if i%2==0:
        L.append(i)
    i=i+1
print(L)

entrer un nombre62
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62]

#### Exercice 7
>Écris un programme qui demande à l'utilisateur de saisir un nombre n et qui affiche tous les nombres impairs de 1 à n en utilisant la boucle **For**.

In [14]:
liste=[]
a=int(input('entrer un nombre'))
for i in range(1,int(a)):
    if i%2!=0:
        liste.append(i)
print(liste)

entrer un nombre12
[1, 3, 5, 7, 9, 11]

#### Exercice 8
>Refais l'exercice 7 en utilisant la boucle **While**.

In [15]:
L=[]
a=int(input('entrer un nombre'))
i=1
while i < a+1:
    if i%2!=0:
        L.append(i)
    i=i+1
print(L)

entrer un nombre24
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

#### Exercice 9
>Écris un programme qui demande à l'utilisateur de saisir un nombre n et qui affiche sa table de multiplication  en utilisant la boucle **For**.

In [17]:
n=int(input('entrer un nombre entier'))
p=1
for i in range(1,13):
    p=n*i
    print(p,'=',n,'x',i,sep=' ')
    i=i+1

entrer un nombre entier4
4 = 4 x 1
8 = 4 x 2
12 = 4 x 3
16 = 4 x 4
20 = 4 x 5
24 = 4 x 6
28 = 4 x 7
32 = 4 x 8
36 = 4 x 9
40 = 4 x 10
44 = 4 x 11
48 = 4 x 12

#### Exercice 10
>Refais l'exercice 9 en utilisant la boucle **While**.

In [18]:
n=int(input('entrer un nombre entier'))
p=1
i=1
while i<=12:
    p=n*i
    print(p,'=',n,'x',i,sep=' ')
    i=i+1

entrer un nombre entier2
2 = 2 x 1
4 = 2 x 2
6 = 2 x 3
8 = 2 x 4
10 = 2 x 5
12 = 2 x 6
14 = 2 x 7
16 = 2 x 8
18 = 2 x 9
20 = 2 x 10
22 = 2 x 11
24 = 2 x 12

#### Exercice 11
>Écris un programme qui demande à l'utilisateur d'entrer un nombre et de trouver tous ses diviseurs  en utilisant la boucle **For**.

In [23]:
H=[]
n=int(input('entrer un entier'))
for i in range(1,n):
    if n%i==0:
        H.append(i)
    i=i+1
print(H)

entrer un entier42
[1, 2, 3, 6, 7, 14, 21]

#### Exercice 12
>Écris un programme qui demande à l'utilisateur d'entrer un entier naturel n et de trouver tous sa factorielle n!  en utilisant la boucle **For**. On rappelle que $n!=n*(n-1)*(n-2)...3*2*1$.

In [28]:
n=int(input('entrer un entier naturel: '))
fact=1
for i in range(n,1,-1):
    fact=fact*i
print(fact)

entrer un entier naturel: 4
24

#### Exercice 13
>Écris un programme qui demande à l'utilisateur d'entrer deux entiers naturels (plus petits que 15) et de trouver leur plus petit commun multiple utilisant la boucle **For**.

In [34]:
a=int(input('entrer un entier plus petit que 15: '))
b=int(input('entrer un autre entier plus petit que 15: '))
liste1=[]
liste2=[]
liste3=[]
for i in range(1,15):
    x=i*a
    liste1.append(x)
for j in range(1,15):
    y=j*b
    liste2.append(y)
for k in liste1:
    if k in liste2:
        liste3.append(k)
print('le ppcm de a et b est: ',min(liste3))

entrer un entier plus petit que 15: 3
entrer un autre entier plus petit que 15: 5
le ppcm de a et b est:  15

#### Exercice 14
>Écris un programme pour afficher la série de Fibonacci jusqu'à n termes en utilisant une boucle.

In [27]:
a=int(input('entrer un nombre entier superieur a 1:'))
G_0=0
G_1=1
G_2=0
for i in range(1,n):
    G_2=G_1+G_0
    print(G_2)
    G_0=G_1
    G_1=G_2

entrer un nombre entier superieur a 1:21
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296

#### Exercice 15
>Écris, en utilisant une boucle **For**, un programme pour afficher 5 fois de suite le message "Python est un très bon langage de programmation".

In [26]:
for i in range(1,6):
    print('Python est un tres bon language de programmation')
    i=i+1

Python est un tres bon language de programmation
Python est un tres bon language de programmation
Python est un tres bon language de programmation
Python est un tres bon language de programmation
Python est un tres bon language de programmation

#### Exercice 16
>Écris, en utilisant une boucle **While**, un programme pour afficher 7 fois de suite le message "A cette allure je finirai par tout abandonner pour la programmation".

In [25]:
i=1
while i<=7:
    print('A cette allure je finirai par tout abandonner pour la programmation')
    i=i+1

A cette allure je finirai par tout abandonner pour la programmation
A cette allure je finirai par tout abandonner pour la programmation
A cette allure je finirai par tout abandonner pour la programmation
A cette allure je finirai par tout abandonner pour la programmation
A cette allure je finirai par tout abandonner pour la programmation
A cette allure je finirai par tout abandonner pour la programmation
A cette allure je finirai par tout abandonner pour la programmation

#### Exercice 17
>Écris, en utilisant une boucle **For**, un programme qui compte à l'envers de 10 à 0 puis qui affiche le message "Partez".

In [18]:
for i in range(10,0,-1):
    print(i)
    i=i+1
print('\t')
print('partez')

10
9
8
7
6
5
4
3
2
1

partez

#### Exercice 18
>Écris, en utilisant une boucle **For**, un programme qui affiche chaque élément d'une chaine de caractère.

In [7]:
A='les enfants vont manger'
for i in range(len(A)):
    print(A[i])
    i=i+1

l
e
s

e
n
f
a
n
t
s

v
o
n
t

m
a
n
g
e
r

#### Exercice 19
>Écris, en utilisant une boucle **For**, un programme qui compte à l'envers de 10 à 0 puis qui affiche le message "Partez".

In [24]:
for i in range(10,0,-1):
    print(i)
    i=i+1
print('\t')
print('partez')

10
9
8
7
6
5
4
3
2
1

partez

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS ! / CONGRATULATIONS! 🎉 </span> </b></center>