

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets it√©rables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

#### **Exercice 00:** 
>**D√©clarer une liste vide.**

In [1]:
L=[]

#### **Exercice 01:** 
>**D√©clarer une liste de plus de 5 √©l√©ments.**

In [2]:
T=[1,'tata',56,'lio',2,'va',0]

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [3]:
len(T)

7

#### **Exercice 03:** 
>**Obtenez le premier √©l√©ment, l'√©l√©ment central et le dernier √©l√©ment de la liste.**

In [4]:
print(T[0])
print('\t')
print(T[3])
print('\t')
print(T[-1])

1

lio

0

#### **Exercice 04:** 
>**D√©clarez une liste appel√©e mixed_data_types, mettez votre (nom, √¢ge, taille, √©tat civil, adresse).**

In [5]:
mixed_data_types=['lionel',22,1.70,'celibataire','Mbour-senegal']
print(mixed_data_types)

['lionel', 22, 1.7, 'celibataire', 'Mbour-senegal']

#### **Exercice 05:** 

    1. D√©clarez une variable liste appel√©e it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste √† l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la premi√®re, la moyenne et la derni√®re entreprise

    5. Imprimez la liste apr√®s avoir modifi√© l'une des entreprises.

    6. Ajout d'une entreprise informatique √† it_companies

    7. Ins√©rer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une cha√Æne '# ; '.

    10. V√©rifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la m√©thode sort()

    12. Inversez la liste par ordre d√©croissant √† l'aide de la m√©thode reverse().

    13. Supprimez les 3 premi√®res entreprises de la liste.

    14. Supprimez les 3 derni√®res entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la premi√®re entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la derni√®re entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. D√©truire la liste des entreprises informatiques

1) Creation de la liste et afficher

In [1]:
it_companies=['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

3) Imprimer le nombre d'entreprise de la liste

In [2]:
len(it_companies)

7

4) Imprimez la premi√®re, la moyenne et la derni√®re entreprise

In [3]:
print(it_companies[0])
print('\t')
print(it_companies[3])
print('\t')
print(it_companies[-1])

Facebook

Apple

Amazon

5. Imprimez la liste apr√®s avoir modifi√© l'une des entreprises.

In [4]:
it_companies.remove('Apple')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon']

6. Ajout d'une entreprise informatique √† it_companies

In [5]:
it_companies.append('Orange')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon', 'Orange']

7. Ins√©rer une entreprise informatique au milieu de la liste des entreprises

In [6]:
it_companies.insert(3,'Samsung')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Samsung', 'IBM', 'Oracle', 'Amazon', 'Orange']

8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

In [7]:
it_companies[4]=it_companies[4].upper()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Samsung', 'IBM', 'Oracle', 'Amazon', 'Orange']

9. Joignez les it_companies avec une cha√Æne '# ; '.

In [8]:
R=['#;']
Z=R+it_companies
print(Z)

['#;', 'Facebook', 'Google', 'Microsoft', 'Samsung', 'IBM', 'Oracle', 'Amazon', 'Orange']

10. V√©rifier si une certaine entreprise existe dans la liste it_companies.

In [9]:
print('Google' in it_companies)

True

11. Trier la liste en utilisant la m√©thode sort()

In [10]:
it_companies.sort()
print(it_companies)

['Amazon', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle', 'Orange', 'Samsung']

12. Inversez la liste par ordre d√©croissant √† l'aide de la m√©thode reverse().

In [11]:
it_companies.reverse()
print(it_companies)

['Samsung', 'Orange', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Amazon']

13. Supprimez les 3 premi√®res entreprises de la liste.

In [12]:
del it_companies[:3]
print(it_companies)

['Microsoft', 'IBM', 'Google', 'Facebook', 'Amazon']

14. Supprimez les 3 derni√®res entreprises de la liste.

In [13]:
del it_companies[4:7]
print(it_companies)

['Microsoft', 'IBM', 'Google', 'Facebook']

15. Supprimez la ou les entreprises informatiques du milieu de la liste.

In [14]:
it_companies.pop(3)
print(it_companies)

['Microsoft', 'IBM', 'Google']

16. Supprimez la premi√®re entreprise informatique de la liste

In [15]:
it_companies.pop(0)
print(it_companies)

['IBM', 'Google']

18. Retirer la derni√®re entreprise informatique de la liste

In [16]:
it_companies.pop(1)
print(it_companies)

['IBM']

19. Supprimez toutes les entreprises informatiques de la liste

In [17]:
it_companies.pop(0)
print(it_companies)

[]

20. detruire la liste

In [18]:
it_companies.clear()
print(it_companies)

[]

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [15]:
front_end=['HTML','CSS','JS','React','Redux']
back_end=['Node','Express','MongoDB']
Z=front_end+back_end
print(Z)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 √¢ges d'√©tudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'√¢ge minimum et maximum.
    2. Ajoutez √† nouveau l'√¢ge minimum et l'√¢ge maximum √† la liste.
    3. Trouvez l'√¢ge m√©dian (un √©l√©ment du milieu ou deux √©l√©ments du milieu divis√©s par deux).
    4. Trouvez l'√¢ge moyen (somme de tous les √©l√©ments divis√©e par leur nombre).
    4. Trouver l'intervalle des √¢ges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la m√©thode abs().

In [1]:
ages=[19,22,19,24,25,26,24,25,24]
print(ages)
print(max(ages))
print('\t')
print(min(ages))

[19, 22, 19, 24, 25, 26, 24, 25, 24]
26

19

In [2]:
ages.append(19)
ages.append(26)
print(ages)

[19, 22, 19, 24, 25, 26, 24, 25, 24, 19, 26]

In [3]:
milieu=int(len(ages)/2)
print(ages[milieu])

26

In [4]:
moyen=sum(ages)/len(ages)
print(moyen)

23.0

In [8]:
c=max(ages)-min(ages)
print(c)

7

In [5]:
f=abs(min(ages)-moyen)
g=abs(max(ages)-moyen)
if f>g:
    print('(min-moyen)>(max-moyen)')
else:
    print('(min-moyen)<(max-moyen)')

(min-moyen)>(max-moyen)

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Cr√©er un dictionnaire vide appel√© `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'√¢ge au dictionnaire dog.
3. Cr√©ez un dictionnaire student et ajoutez le pr√©nom, le nom, le sexe, l'√¢ge, l'√©tat civil, les comp√©tences, le pays, la ville et l'adresse comme cl√©s pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. R√©cup√©rez la valeur des comp√©tences et v√©rifiez le type de donn√©es, il doit s'agir d'une liste.
6. Modifiez les valeurs des comp√©tences en ajoutant une ou deux comp√©tences.
7. Obtenez les cl√©s du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la m√©thode items()
10. Supprimer un des √©l√©ments du dictionnaire
11. Supprimer un des dictionnaires

In [109]:
dog={}

In [111]:
dog={'name':'Lionel','race':'noir','pattes':4,'age':21}
print(dog)

{'name': 'Lionel', 'race': 'noir', 'pattes': 4, 'age': 21}

In [27]:
student={}
student['prenom']='Lionel'
student['nom']='Nanguep'
student['sexe']='M'
student['age']=27
student['etat_civil']='celibataire'
student['competences']=['faible','moyen','fort']
student['pays']='Cameroun'
student['ville']='Yaounde'
student['adresse']='Mbour_senegal'
print(student)

{'prenom': 'Lionel', 'nom': 'Nanguep', 'sexe': 'M', 'age': 27, 'etat_civil': 'celibataire', 'competences': ['faible', 'moyen', 'fort'], 'pays': 'Cameroun', 'ville': 'Yaounde', 'adresse': 'Mbour_senegal'}

In [28]:
len(student)

9

In [29]:
print(student['competences'],type(student['competences']))

['faible', 'moyen', 'fort'] <class 'list'>

In [30]:
student['competences'].append('TB')
student['competences'].append('AB')
print(student['competences'])

['faible', 'moyen', 'fort', 'TB', 'AB']

In [31]:
print(student)

{'prenom': 'Lionel', 'nom': 'Nanguep', 'sexe': 'M', 'age': 27, 'etat_civil': 'celibataire', 'competences': ['faible', 'moyen', 'fort', 'TB', 'AB'], 'pays': 'Cameroun', 'ville': 'Yaounde', 'adresse': 'Mbour_senegal'}

In [32]:
print(student.keys())

dict_keys(['prenom', 'nom', 'sexe', 'age', 'etat_civil', 'competences', 'pays', 'ville', 'adresse'])

In [33]:
print(student.values())

dict_values(['Lionel', 'Nanguep', 'M', 27, 'celibataire', ['faible', 'moyen', 'fort', 'TB', 'AB'], 'Cameroun', 'Yaounde', 'Mbour_senegal'])

In [34]:
student.items()

dict_items([('prenom', 'Lionel'), ('nom', 'Nanguep'), ('sexe', 'M'), ('age', 27), ('etat_civil', 'celibataire'), ('competences', ['faible', 'moyen', 'fort', 'TB', 'AB']), ('pays', 'Cameroun'), ('ville', 'Yaounde'), ('adresse', 'Mbour_senegal')])

In [35]:
del student['prenom']
student

{'nom': 'Nanguep',
 'sexe': 'M',
 'age': 27,
 'etat_civil': 'celibataire',
 'competences': ['faible', 'moyen', 'fort', 'TB', 'AB'],
 'pays': 'Cameroun',
 'ville': 'Yaounde',
 'adresse': 'Mbour_senegal'}

In [37]:
student.clear()
student

{}

<center> <b> <span style="color:orange;"> üéâ F√âLICITATIONS ! / CONGRATULATIONS !üéâ </span> </b></center>